GitPython
git+https://github.com/karmab/aicli.git@b441a4cba70aca2a0833a4c72cb4f7af2f11b8fb#egg=aicli
PyYAML
requests
setuptools-rust
wheel
paramiko==2.12.0
tenacity
gspread
oauth2client
jinja2
kubernetes
python-hosts
argcomplete
